#closeicon {
    float: right;
    margin-top: -7x;
    border: 1px solid rgb(54, 37, 128);
    color: rgb(14, 9, 60);
}

#linehorizontal {
    margin: 10px 20px 0px 10px;
    height: 1.3px;
    width: 100%;
    background-color: rgb(130, 130, 191);
}

.input-field input {
    border: 1px solid black;
}