#closeicon {
    float: right;
    margin-top: -7x;
    border: 1px solid rgb(54, 37, 128);
    color: rgb(14, 9, 60);
}

#setform {
    margin-left: 100px;
}

#setformfield2 {
    margin-left: 135px;
}

#setformfield3 {
    margin-left: 107px;
}

#linehorizontal {
    margin: 10px 20px 0px 10px;
    height: 1.3px;
    width: 100%;
    background-color: rgb(130, 130, 191);
}

#dengeralert{
    margin-left: 120px;
}